<div class="section-wrapper">
    <section class="section extra" id="extra">
        <div>
            <div class="section-heading" id="chat-text">Kontakt</div>

            <p class="paragraph-text justify-text">
           Spørgsmål? 🙂 <br/> </br> Send gerne en mail til: <a href="mailto:{{ site.email }}">{{ site.email }}</a>
            </p>
            <div class="extra-links">
                <span class="hint--bottom bottom-link" aria-label="Email">
                    <a href="mailto:{{ site.email }}"><i class="head-icon fas fa-envelope"></i></a>
                </span>
            </div>
        </div>
    </section>
</div>
