<div class="section-wrapper">
    <section class="section projects" id="projects">
        <div class="full-width">
            <div class="section-heading" id="projects-text">Proces</div>

            <h1 class="weeks-h1">Uge 34</h1>
            <div class="goals">
                <strong>Mål for ugen:</strong>
                <li>Kontakte virksomhed ift. muligt samarbejde vedr. projekt, med udgangspunkt i vores respektive valgfag.</li>
                <br>
                <strong>Hvad har jeg opnået:</strong>
                <li>Kontaktet andre virksomheder, i tilfælde af at samarbejdet med første virksomhed mislykkedes.</li>
                <br>
                <strong>Kolbs læringscyklus:</strong>
                <ul>
                    <li><strong>Erfaring:</strong> Jeg kontaktede flere virksomheder for at finde samarbejdspartnere til mit projekt.</li>
                    <li><strong>Eftertænksomhed:</strong> Jeg begyndte at overveje, hvordan man kunne udvide sin søgning og at vi skulle prøve at gøre brug af vores netværk i studiegruppen.</li>
                    <li><strong>Begrebsdannelse:</strong> Jeg opbyggede min forståelse af, hvad et godt samarbejde kræver, og hvordan jeg kan anvende denne viden i et fremtidigt samarbejde.</li>
                    <li><strong>Eksperiment:</strong> Vi vil i studigruppen hver især finkæmme vores netværk i en søgen på et ny virksomhed</li>
                </ul>
            </div>
            
            <!-- NY UGE -->

            <h1 class="weeks-h1">Uge 35</h1>
            <div class="goals">
                <strong>Mål for ugen:</strong>
                <li>Finde en ny virksomhed, da virksomheden ikke havde mulighed for et samarbejde omkring vores projekt.<br></li>
                <br>
                <strong>Hvad har jeg opnået:</strong>
                <li>Fandt en ny virksomhed, Guldsmed Majus Smykker, som vi fik lavet en samarbejdsaftale med.</li>
                <br>
                <strong>Kolbs læringscyklus:</strong>
                <ul>
                    <li><strong>Erfaring:</strong> Vi kontaktede Guldsmed Majus Smykker, som Maja i studiegruppen har i sit netværk og aftalte et samarbejde om projektet.</li>
                    <li><strong>Eftertænksomhed:</strong> Det kan være en udfordring at finde en gos samarbejdspartner, og har erfaret at det er vigtigt at udnytte alle ressourcer man har tilgængelig</li>
                    <li><strong>Begrebsdannelse:</strong> Jeg dannede et klart billede af, hvad Guldsmed Majus Smykker ønsker fra samarbejdet og hvordan jeg kunne tilpasse mit projekt til deres behov.</li>
                    <li><strong>Eksperiment:</strong> Jeg testede min evne til at sælge et produkt og tilpasse mit projekt til kundens ønsker ved at indgå samarbejdsaftalen.</li>
                </ul>
            </div>
            <!-- NY UGE -->

            <h1 class="weeks-h1">Uge 36</h1>
            <div class="goals">
                <strong>Mål for ugen:</strong>
                <li>Første møde med Product Owner, for at afklare kundens ønsker og behov, således vi kan udlede vores HLD og LLD artefakter.</li>
                <li>Klargøre kvalitetskriterier for de kommende kort- og langsigtede læringsmål.<br></li>
                <br>
                <strong>Hvad har jeg opnået:</strong>
                <li>Udarbejdet HLD artefakter og lavet kvalitetskriterier for de kort- og langsigtede læringsmål for semestret.</li>
                <br>
                <strong>Kolbs læringscyklus:</strong>
                <ul>
                    <li><strong>Erfaring:</strong> Vi havde et møde med Product Owner for at få klarlagt kundens behov og forventninger til projektet.</li>
                    <li><strong>Eftertænksomhed:</strong> Jeg reflekterede over, hvordan mødet kunne have været mere effektivt, hvis jeg havde forberedt mere specifikke spørgsmål om de tekniske krav og prioriteringer. Jeg lærte, at det er vigtigt at forstå både de forretningsmæssige og tekniske mål for at kunne udarbejde meningsfulde artefakter.</li>
                    <li><strong>Begrebsdannelse:</strong> Jeg har altid været lidt skeptisk angående mængeden af artefakter, men de giver et godt oberblik for både kunde og udvikler.</li>
                    <li><strong>Eksperiment:</strong> Jeg arbejdede praktisk med at udarbejde HLD og LLD artefakter baseret på den feedback og de krav, vi fik fra Product Owner.</li>
                </ul>
                <h3 class="toggle-heading" data-target="domænemodel">Kvalitetskriterier</h3>
               <img src="./assets/images/Kvalitetskriterier.png" class="toggle-image" id="kvalitetskriterier" style="display: none;">
                <h3 class="toggle-heading" data-target="domænemodel">Objektmodel</h3>
                 <img src="./assets/images/Objektmodel.png" class="toggle-image" id="objektmodel" style="display: none;">
                 <h3 class="toggle-heading" data-target="domænemodel">Domænemodel</h3>
                <img src="./assets/images/Domænemodel.png" class="toggle-image" id="domænemodel" style="display: none;">
            </div>

            
            <!-- NY UGE -->

            <h1 class="weeks-h1">Uge 37</h1>
            <div class="goals">
                <strong>Mål for ugen:</strong>
                <li>At udarbejde LLD artefakter for projektet.</li>
                <li>Udarbejde kort- og langsigtede læringsmål for semestret.<br></li>
                <br>
                <strong>Hvad har jeg opnået:</strong>
                <li>Udarbejdet LLD artefakter til vores videre arbejde med projektet.</li>
                <li>Derudover har jeg udarbejdet kort- og langsigtede læringsmål for semestret.</li>   
                 <br>
                <strong>Kolbs læringscyklus:</strong>
                <strong>Kolbs læringscyklus:</strong>
                <ul>
                    <li><strong>Erfaring:</strong> Jeg arbejdede på at udarbejde LLD artefakter til projektet med konkrete ønsker fra product owner.</li>
                    <li><strong>Eftertænksomhed:</strong> Jeg indså, at jeg havde brug for at dykke dybere ned i de tekniske aspekter af systemet for at kunne skabe detaljerede og præcise artefakter.</li>
                    <li><strong>Begrebsdannelse:</strong> Det er vigtigt at have en klar overensstemmelse med product owner omkring artefakterne, de der ellers ender med mange revideringer af produktet.</li>
                    <li><strong>Eksperiment:</strong> Jeg forsøgte at revidere nogle af mine LLD artefakter med nye tekniske detaljer, og de blev mere præcise og brugbare til implementering.</li>
                </ul>

                <img src=./assets/images/Kvalitetskriterier.png >
            </div>
            <!-- NY UGE -->

            <h1 class="weeks-h1">Uge 38</h1>
            <div class="goals">
                <strong>Mål for ugen:</strong>
                <li>Fremfinde relevante læringsressourcer/forløb, hvorigennem jeg kan opnå de fastsatte læringsmål for semestret.<br></li>
                <br>
                <strong>Hvad har jeg opnået:</strong>
                <li>Fundet læringsressourcer, herunder købt adgang til LearnJavaScript.online (herefter LearnJS), hvor jeg kan lære grundlæggende programmering med JavaScript, som jeg skal bruge til at udvikle front-end delen i vores webapplikation med.</li>           <strong>Kolbs læringscyklus:</strong>
               <strong>Kolbs læringscyklus:</strong>
                <ul>
                    <li><strong>Erfaring:</strong> Jeg fandt efter relevante læringsressourcer, herunder LearnJS, for at styrke mine færdigheder i JavaScript.</li>
                    <li><strong>Eftertænksomhed:</strong> Det kan være en udfordring at finde relevante læringsressourcer, uden at skulle igennem en masse eksperimenter først. Men ved at søge på reddit, kunne jeg hurtigt finde et svar jeg søgte. Konsensus var at LearnJS var det bedste.</li>
                    <li><strong>Begrebsdannelse:</strong> Jeg går med LearnJS og håber på at eksperimentet med dette ikke ender ud i en søgen efter ny læringsressource</li>
                    <li><strong>Eksperiment:</strong> Jeg går igang med LearnJS og forventer at læringsressourcen opfylder mine krav til opfyldning af læringsmålene</li>
                </ul>

            </div>
            <!-- NY UGE -->

            <h1 class="weeks-h1">Uge 39</h1>
            <div class="goals">
                <strong>Mål for ugen:</strong>
                <li>Komme igennem de første 10 kapitler, ud af de samlede 83 kapitler i LearnJS kurset.</li>
                <li>Deltage i et IT-sikkerhedskursus udbudt af PROSA. Deltage i Web security fundamentals – session 1<br></li>
                <br>
                <strong>Hvad har jeg opnået:</strong>
                <li>Første 15 kapitler i kurset blev gennemført.</li>
                <li>Jeg fik fulgt en tutorial på YouTube, hvor jeg lærte om, hvordan jeg kunne bruge ReactJS frameworket til at bygge en simpel side. (Ressource: Build an App and Master React - LINK: https://www.youtube.com/watch?v=b9eMGE7QtTk).</li>
                <li>Deltog jeg i et 3 timer langt kursus om IT-sikkerhed, udbudt af PROSA.</li>
                <li>Skriv her hvad vi har lært af nosferatus</li>
                <strong>Kolbs læringscyklus:</strong>
                <ul>
                    <li><strong>Erfaring:</strong> Jeg opnåede læring indenfor bl.a. simple funktioner, variabler, objekter og arrow functions i LearnJS </li>
                    <li><strong>Eftertænksomhed:</strong> Kurset starter rigtig godt ud og jeg tænker ikke at det bliver nødvendigt at opsøge andre ressource angående at lære JavaScript</li>
                    <li><strong>Begrebsdannelse:</strong> Jeg har opnået en fundamental viden om JavaScript og kan bruge dette kursus til at opfylde en del af mine læringsmål.</li>
                    <li><strong>Eksperiment:</strong> Jeg får anvendt min viden i de næste kapitler i LearnJS, da de bygger videre på det allerede lærte.</li>
                </ul>
            </div>
            <!-- NY UGE -->

            <h1 class="weeks-h1">Uge 40</h1>
            <div class="goals">
                <strong>Mål for ugen:</strong>
                <li>Komme igennem de næste 10 kapitler (11-20) i LearnJS kurset.</li>
                <li>Finde ressourcer til at lære ReactJS med, da det skal bruges som framework til vores webapp.</li>
                <li>Møde med PO angående designvalg, kalenderfunktion og OTP.<br></li>
                <br>
                <strong>Hvad har jeg opnået:</strong>
                <li>Nået til kapitel 31 i LearnJS kurset og fundet et "Scrimba" kursus om ReactJS, som jeg skal følge, når jeg er nået forbi 'Fetch API' delen i LearnJS kurset.</li>
                <br>
                <strong>Kolbs læringscyklus:</strong>
                <ul>
                    <li><strong>Erfaring:</strong> Jeg fik læring omkring bl.a. optional chaining, object arrays, og class inheritance i LearnJS.</li>
                    <li>Fandt ud af at der ikke er vildt mange gratis ressourcer til lære React.</li>
                    <li><strong>Eftertænksomhed:</strong> Det virker til at scrimba er et godt valg, da det er det som både bliver anbefalet i mit guild og på nettet. </li>
                    <li><strong>Begrebsdannelse:</strong> Det giver god mening at lytte til andres reflektioner og være åben for deres input.</li>
                    <li><strong>Eksperiment:</strong> Jeg prøver at køre med scrimba og ser om det giver god nok læring til at kunne opbygge programmet med React som tilknyttet library.</li>
                </ul>
            </div>

              <!-- NY UGE -->

            <h1 class="weeks-h1">Uge 41</h1>
            <div class="goals">
                <strong>Mål for ugen:</strong>
                <li>Komme igennem de næste 10 kapitler (31-40) i LearnJS kurset.</li>               
                <br>
                <strong>Hvad har jeg opnået:</strong>
                <li>Nået til kapitel 41 i LearnJS kurset og planlagt implementering af IT-sikkerheds funktioner, hvor vi forinden har lavet risikoanalyse og trusselsmodellering.</li>
                <br>
                <strong>Kolbs læringscyklus:</strong>
                <ul>
                    <li><strong>Erfaring:</strong> </li>
                    <li><strong>Eftertænksomhed:</strong> </li>
                    <li><strong>Begrebsdannelse:</strong> </li>
                    <li><strong>Eksperiment:</strong> </li>
                </ul>
            </div>

             <!-- NY UGE -->

            <h1 class="weeks-h1">Uge 43</h1>
            <div class="goals">
                <strong>Mål for ugen:</strong>
                <li>Komme igennem de næste 10 kapitler (41-50) i LearnJS kurset, hvor jeg endelig lærer om DOM og DOM-manipulation, som vi skal bruge til udviklingen af vores web-app. Derudover forberede til implementering af IT-sikkerhedsfunktioner om fredagen.</li>               
                <br>
                <strong>Hvad har jeg opnået:</strong>
                <li>Nået til kapitel 62 i LearnJS kurset, hvilket betyder at jeg er færdig med at lære om DOM og DOM-manipulation, hvilket jeg har tænkt mig at bruge i næste uge, uge 44, hvor vi går igang med at udvikle front-end i vores web-app. Derudover har jeg været med til at implementere og teste vores login-system til web-appen, hvori vi har implementeret autentificering via JWT tokens og andre IT-sikkerheds funktioner som f.eks. HSTS.</li>
                <br>
                <strong>Kolbs læringscyklus:</strong>
                <ul>
                    <li><strong>Erfaring:</strong> </li>
                    <li><strong>Eftertænksomhed:</strong>  </li>
                    <li><strong>Begrebsdannelse:</strong> </li>
                    <li><strong>Eksperiment:</strong> </li>
                </ul>         
            </div>

              <!-- NY UGE -->

            <h1 class="weeks-h1">Uge 44</h1>
            <div class="goals">
                <strong>Mål for ugen:</strong>
                <li>At komme igang med et Scrimba kursus, hvor jeg lærer om ReactJS frameworket, som jeg skal benytte til at udvikle en del af vores front-end i. Derudover vil jeg gerne komme i mål med at færdigimplementere vores login system, hvor man både kan registrere sig som ny kunde og logge ind på sin konto.</li>               
                <br>
                <strong>Hvad har jeg opnået:</strong>
                <li>Jeg er nået igennem Scrimba kurset, hvor jeg har lært at lave et info-site med ReactJS framworket. Derudover er vi kommet i mål med vores login system og har implementeret en OTP funktion som virker!</li>
                <br>
                <strong>Kolbs læringscyklus:</strong>
                <ul>
                    <li><strong>Erfaring:</strong> </li>
                    <li><strong>Eftertænksomhed:</strong>  </li>
                    <li><strong>Begrebsdannelse:</strong> </li>
                    <li><strong>Eksperiment:</strong> </li>
                </ul>         
            </div>

              <!-- NY UGE -->

            <h1 class="weeks-h1">Uge 45</h1>
            <div class="goals">
                <strong>Mål for ugen:</strong>
                <li>At færdigimplementere OTP og sikre, at URL adresser ikke kan tilgås uden login (JWT token). At man kan oprette en kunde i databasen.</li>
                <li>Deltage i Web security fundamentals – session 2</li>
                <br>
                <strong>Hvad har jeg opnået:</strong>
                <li>Implementeret OTP via en gratis tilgængelig API. Implementeret "Create" og "Read" funktionalitet i appen, så vi er et skridt tættere på fuld CRUD funktionalitet. Forsøgt at injicere scripts i inputfelter, for at penteste for XSS sårbarheder. Implementeret input-validering samt sanitering i både back-end og front-end.</li>
                <li>Skriv her hvad vi har lært af nosferatus</li>                
                <br>
                <strong>Kolbs læringscyklus:</strong>
                <ul>
                    <li><strong>Erfaring:</strong> </li>
                    <li><strong>Eftertænksomhed:</strong>  </li>
                    <li><strong>Begrebsdannelse:</strong> </li>
                    <li><strong>Eksperiment:</strong> </li>
                </ul>         
            </div>

             <!-- NY UGE -->

            <h1 class="weeks-h1">Uge 46</h1>
            <div class="goals">
                <strong>Mål for ugen:</strong>
                <li>Implementere en html sanitizer for at rense  og undgå XSS</li>           
                <br>
                <strong>Hvad har jeg opnået:</strong>
                <li>Fik implementeret ganss HTML sanitizer.</li>
                <br>
                <strong>Kolbs læringscyklus:</strong>
                <ul>
                    <li><strong>Erfaring:</strong> </li>
                    <li><strong>Eftertænksomhed:</strong>  </li>
                    <li><strong>Begrebsdannelse:</strong> </li>
                    <li><strong>Eksperiment:</strong> </li>
                </ul>         
            </div>

              <!-- NY UGE -->

            <h1 class="weeks-h1">Uge 47</h1>
            <div class="goals">
                <strong>Mål for ugen:</strong>
                <li>Få implementeret fuld crud i programmet.</li>  
                <li>Rette encodingservice til i API, således at æ, ø og å står korrekt.</li>  
                <li>Deltage i Web security fundamentals – session 3</li>  
                <br>
                <strong>Hvad har jeg opnået:</strong>
                <li>Fuld crud i programmet er opnået og datbasen er blevet fyld med dataeksempler.</li>
                <li>Encodingservice er rettet til, så nu står æ, ø og å ikke encoded i databasen.</li>
                <li>Skriv her hvad vi lærte af nosferatus</li>
                <br>
                <strong>Kolbs læringscyklus:</strong>
                <ul>
                    <li><strong>Erfaring:</strong> </li>
                    <li><strong>Eftertænksomhed:</strong>  </li>
                    <li><strong>Begrebsdannelse:</strong> </li>
                    <li><strong>Eksperiment:</strong> </li>
                </ul>         
            </div>

              <!-- NY UGE -->

            <h1 class="weeks-h1">Uge 48</h1>
            <div class="goals">
                <strong>Mål for ugen:</strong>
                <li>Optage produktvideo og færdiggøre portefølge</li>           
                <br>
                <strong>Hvad har jeg opnået:</strong>
                <li></li>
                <br>
                <strong>Kolbs læringscyklus:</strong>
                <ul>
                    <li><strong>Erfaring:</strong> </li>
                    <li><strong>Eftertænksomhed:</strong>  </li>
                    <li><strong>Begrebsdannelse:</strong> </li>
                    <li><strong>Eksperiment:</strong> </li>
                </ul>         
            </div>
        </div>
    </section>
</div>

 <script>
        document.addEventListener("DOMContentLoaded", () => {
            const toggleHeadings = document.querySelectorAll(".toggle-heading");

            toggleHeadings.forEach(heading => {
                heading.addEventListener("click", () => {
                    const targetId = heading.getAttribute("data-target");
                    const targetImage = document.getElementById(targetId);

                    if (targetImage) {
                        const isVisible = targetImage.style.display === "block";
                        targetImage.style.display = isVisible ? "none" : "block";
                    }
                });
            });
        });
    </script>
