<div class="section-wrapper">
    <section class="section projects" id="projects">
        <div class="full-width">
            <div class="section-heading" id="projects-text">Proces</div>

            <h1 class="weeks-h1">Uge 34</h1>
            <div class="goals">
                <strong>Mål for ugen:</strong>
                <li>Kontakte virksomhed ift. muligt samarbejde vedr. projekt, med udgangspunkt i vores respektive valgfag.</li>
             <br>
                <strong>Hvad har jeg opnået:</strong>
                <li>Kontaktet andre virksomheder, i tilfælde af at samarbejdet med første virksomhed mislykkedes.</li>
            </div>
            <!-- NY UGE -->

            <h1 class="weeks-h1">Uge 35</h1>
            <div class="goals">
                <strong>Mål for ugen:</strong>
                <li>Finde en ny virksomhed, da virksomheden ikke havde mulighed for et samarbejde omkring vores projekt.<br></li>
                 <br>
                <strong>Hvad har jeg opnået:</strong>
                <li>Fandt en ny virksomhed, Guldsmed Majus Smykker, som vi fik lavet en samarbejdsaftale med.</li>
            </div>
            <!-- NY UGE -->

             <h1 class="weeks-h1">Uge 36</h1>
            <div class="goals">
                <strong>Mål for ugen:</strong>
                <li>Første møde med Product Owner, for at afklare kundens ønsker og behov, således vi kan udlede vores HLD og LLD artefakter.</li>
                <li>Klargøre kvalitetskriterier for de kommende kort- og langsigtede læringsmål.<br></li>
                 <br>
                <strong>Hvad har jeg opnået:</strong>
                <li>Udarbejdet HLD artefakter og lavet kvalitetskriterier for de kort- og langsigtede læringsmål for semestret.</li>
            </div>
            <!-- NY UGE -->

             <h1 class="weeks-h1">Uge 37</h1>
            <div class="goals">
                <strong>Mål for ugen:</strong>
                <li>At udarbejde LLD artefakter for projektet.</li>
                <li>Udarbejde kort- og langsigtede læringsmål for semestret.<br></li>
                 <br>
                <strong>Hvad har jeg opnået:</strong>
                <li>Udarbejdet LLD artefakter til vores videre arbejde med projektet.</li>
                <li>Derudover har jeg udarbejdet kort- og langsigtede læringsmål for semestret.</li>
            </div>
            <!-- NY UGE -->

             <h1 class="weeks-h1">Uge 38</h1>
            <div class="goals">
                <strong>Mål for ugen:</strong>
                <li>Fremfinde relevante læringsressourcer/forløb, hvorigennem jeg kan opnå de fastsatte læringsmål for semestret.<br></li>
                 <br>
                <strong>Hvad har jeg opnået:</strong>
                <li>Fundet læringsressourcer, herunder købt adgang til LearnJavaScript.online (herefter LearnJS), hvor jeg kan lære grundlæggende programmering med JavaScript, som jeg skal bruge til at udvikle front-end delen i vores webapplikation med.</li>
            </div>

            <h1 class="weeks-h1">Uge 39</h1>
            <div class="goals">
                <strong>Mål for ugen:</strong>
                <li>Komme igennem de første 10 kapitler, ud af de samlede 83 kapitler i LearnJS kurset.</li>
                <li>Deltage i et IT-sikkerhedskursus udbudt af PROSA.<br></li>
                 <br>
                <strong>Hvad har jeg opnået:</strong>
                <li>Første 15 kapitler i kurset blev gennemført.</li>
                <li>Jeg fik fulgt en tutorial på YouTube, hvor jeg lærte om, hvordan jeg kunne bruge ReactJS frameworket til at bygge en simpel side. (Ressource: Build an App and Master React - LINK: https://www.youtube.com/watch?v=b9eMGE7QtTk).</li>
                <li>Deltog jeg i et 3 timer langt kursus om IT-sikkerhed, udbudt af PROSA.</li>
            </div>

             <h1 class="weeks-h1">Uge 40</h1>
            <div class="goals">
                <strong>Mål for ugen:</strong>
                <li>Komme igennem de næste 10 kapitler (11-20) i LearnJS kurset.</li>
                <li>Finde ressourcer til at lære ReactJS med, da det skal bruges som framework til vores webapp.</li>
                <li>Møde med PO angående designvalg, kalenderfunktion og OTP.<br></li>
                 <br>
                <strong>Hvad har jeg opnået:</strong>
                <li>Nået til kapitel 31 i LearnJS kurset og fundet et "Scrimba" kursus om ReactJS, som jeg skal følge, når jeg er nået forbi 'Fetch API' delen i LearnJS kurset.</li>
            </div>

            <h1 class="weeks-h1">Uge 41</h1>
            <div class="goals">
                <strong>Mål for ugen:</strong>
                <li>Komme igennem de næste 10 kapitler (31-40) i LearnJS kurset.</li>
                 <br>
                <strong>Hvad har jeg opnået:</strong>
                
            </div>
        </div>
    </section>
</div>
