<div class="section-wrapper">
    <section class="section projects" id="projects">
        <div class="full-width">
            <div class="section-heading" id="projects-text">Proces</div>

            <h1 class="weeks-h1">Uge 34</h1>
            <div class="goals">
                <strong>Mål for ugen:</strong>
                <li>Kontakte virksomhed ift. muligt samarbejde vedr. projekt, med udgangspunkt i vores respektive valgfag.</li>
                <br>
                <strong>Hvad har jeg opnået:</strong>
                <li>Kontaktet andre virksomheder, i tilfælde af at samarbejdet med første virksomhed mislykkedes.</li>
            </div>
            <!-- NY UGE -->

            <h1 class="weeks-h1">Uge 35</h1>
            <div class="goals">
                <strong>Mål for ugen:</strong>
                <li>Finde en ny virksomhed, da virksomheden ikke havde mulighed for et samarbejde omkring vores projekt.<br></li>
                <br>
                <strong>Hvad har jeg opnået:</strong>
                <li>Fandt en ny virksomhed, Guldsmed Majus Smykker, som vi fik lavet en samarbejdsaftale med.</li>
            </div>
            <!-- NY UGE -->

            <h1 class="weeks-h1">Uge 36</h1>
            <div class="goals">
                <strong>Mål for ugen:</strong>
                <li>Første møde med Product Owner, for at afklare kundens ønsker og behov, således vi kan udlede vores HLD og LLD artefakter.</li>
                <li>Klargøre kvalitetskriterier for de kommende kort- og langsigtede læringsmål.<br></li>
                <br>
                <strong>Hvad har jeg opnået:</strong>
                <li>Udarbejdet HLD artefakter og lavet kvalitetskriterier for de kort- og langsigtede læringsmål for semestret.</li>
            </div>
            <!-- NY UGE -->

            <h1 class="weeks-h1">Uge 37</h1>
            <div class="goals">
                <strong>Mål for ugen:</strong>
                <li>At udarbejde LLD artefakter for projektet.</li>
                <li>Udarbejde kort- og langsigtede læringsmål for semestret.<br></li>
                <br>
                <strong>Hvad har jeg opnået:</strong>
                <li>Udarbejdet LLD artefakter til vores videre arbejde med projektet.</li>
                <li>Derudover har jeg udarbejdet kort- og langsigtede læringsmål for semestret.</li>           
            </div>
            <!-- NY UGE -->

            <h1 class="weeks-h1">Uge 38</h1>
            <div class="goals">
                <strong>Mål for ugen:</strong>
                <li>Fremfinde relevante læringsressourcer/forløb, hvorigennem jeg kan opnå de fastsatte læringsmål for semestret.<br></li>
                <br>
                <strong>Hvad har jeg opnået:</strong>
                <li>Fundet læringsressourcer, herunder købt adgang til LearnJavaScript.online (herefter LearnJS), hvor jeg kan lære grundlæggende programmering med JavaScript, som jeg skal bruge til at udvikle front-end delen i vores webapplikation med.</li>              
            </div>
            <!-- NY UGE -->

            <h1 class="weeks-h1">Uge 39</h1>
            <div class="goals">
                <strong>Mål for ugen:</strong>
                <li>Komme igennem de første 10 kapitler, ud af de samlede 83 kapitler i LearnJS kurset.</li>
                <li>Deltage i et IT-sikkerhedskursus udbudt af PROSA.<br></li>
                <br>
                <strong>Hvad har jeg opnået:</strong>
                <li>Første 15 kapitler i kurset blev gennemført.</li>
                <li>Jeg fik fulgt en tutorial på YouTube, hvor jeg lærte om, hvordan jeg kunne bruge ReactJS frameworket til at bygge en simpel side. (Ressource: Build an App and Master React - LINK: https://www.youtube.com/watch?v=b9eMGE7QtTk).</li>
                <li>Deltog jeg i et 3 timer langt kursus om IT-sikkerhed, udbudt af PROSA.</li>
            </div>
            <!-- NY UGE -->

            <h1 class="weeks-h1">Uge 40</h1>
            <div class="goals">
                <strong>Mål for ugen:</strong>
                <li>Komme igennem de næste 10 kapitler (11-20) i LearnJS kurset.</li>
                <li>Finde ressourcer til at lære ReactJS med, da det skal bruges som framework til vores webapp.</li>
                <li>Møde med PO angående designvalg, kalenderfunktion og OTP.<br></li>
                <br>
                <strong>Hvad har jeg opnået:</strong>
                <li>Nået til kapitel 31 i LearnJS kurset og fundet et "Scrimba" kursus om ReactJS, som jeg skal følge, når jeg er nået forbi 'Fetch API' delen i LearnJS kurset.</li>
                <br>              
            </div>

             <!-- NY UGE -->

            <h1 class="weeks-h1">Uge 40</h1>
            <div class="goals">
                <strong>Mål for ugen:</strong>
                <li>Komme igennem de næste 10 kapitler (11-20) i LearnJS kurset.</li>
                <li>Finde ressourcer til at lære ReactJS med, da det skal bruges som framework til vores webapp.</li>
                <li>Møde med PO angående designvalg, kalenderfunktion og OTP.<br></li>
                <br>
                <strong>Hvad har jeg opnået:</strong>
                <li>Nået til kapitel 31 i LearnJS kurset og fundet et "Scrimba" kursus om ReactJS, som jeg skal følge, når jeg er nået forbi 'Fetch API' delen i LearnJS kurset.</li>
                <br>    
            </div>
              <!-- NY UGE -->

            <h1 class="weeks-h1">Uge 41</h1>
            <div class="goals">
                <strong>Mål for ugen:</strong>
                <li>Komme igennem de næste 10 kapitler (31-40) i LearnJS kurset.</li>               
                <br>
                <strong>Hvad har jeg opnået:</strong>
                <li>Nået til kapitel 41 i LearnJS kurset og planlagt implementering af IT-sikkerheds funktioner, hvor vi forinden har lavet risikoanalyse og trusselsmodellering.</li>
                <br>    
            </div>

             <!-- NY UGE -->

            <h1 class="weeks-h1">Uge 43</h1>
            <div class="goals">
                <strong>Mål for ugen:</strong>
                <li>Komme igennem de næste 10 kapitler (41-50) i LearnJS kurset, hvor jeg endelig lærer om DOM og DOM-manipulation, som vi skal bruge til udviklingen af vores web-app. Derudover forberede til implementering af IT-sikkerhedsfunktioner om fredagen.</li>               
                <br>
                <strong>Hvad har jeg opnået:</strong>
                <li>Nået til kapitel 62 i LearnJS kurset, hvilket betyder at jeg er færdig med at lære om DOM og DOM-manipulation, hvilket jeg har tænkt mig at bruge i næste uge, uge 44, hvor vi går igang med at udvikle front-end i vores web-app. Derudover har jeg været med til at implementere og teste vores login-system til web-appen, hvori vi har implementeret autentificering via JWT tokens og andre IT-sikkerheds funktioner som f.eks. HSTS.</li>
                <br>    
            </div>

              <!-- NY UGE -->

            <h1 class="weeks-h1">Uge 44</h1>
            <div class="goals">
                <strong>Mål for ugen:</strong>
                <li>At komme igang med et Scrimba kursus, hvor jeg lærer om ReactJS frameworket, som jeg skal benytte til at udvikle en del af vores front-end i. Derudover vil jeg gerne komme i mål med at færdigimplementere vores login system, hvor man både kan registrere sig som ny kunde og logge ind på sin konto.</li>               
                <br>
                <strong>Hvad har jeg opnået:</strong>
                <li>Jeg er nået igennem Scrimba kurset, hvor jeg har lært at lave et info-site med ReactJS framworket. Derudover er vi kommet i mål med vores login system og har implementeret en OTP funktion som virker!</li>
                <br>    
            </div>

              <!-- NY UGE -->

            <h1 class="weeks-h1">Uge 45</h1>
            <div class="goals">
                <strong>Mål for ugen:</strong>
                <li>At færdigimplementere OTP og sikre, at URL adresser ikke kan tilgås uden login (JWT token). At man kan oprette en kunde i databasen.</li>           
                <br>
                <strong>Hvad har jeg opnået:</strong>
                <li>Implementeret OTP via en gratis tilgængelig API. Implementeret "Create" og "Read" funktionalitet i appen, så vi er et skridt tættere på fuld CRUD funktionalitet. Forsøgt at injicere scripts i inputfelter, for at penteste for XSS sårbarheder. Implementeret input-validering samt sanitering i både back-end og front-end.</li>
                <br>    
            </div>

             <!-- NY UGE -->

            <h1 class="weeks-h1">Uge 46</h1>
            <div class="goals">
                <strong>Mål for ugen:</strong>
                <li>Implementere en html sanitizer for at rense  og undgå XSS</li>           
                <br>
                <strong>Hvad har jeg opnået:</strong>
                <li>Fik implementeret ganss HTML sanitizer.</li>
                <br>    
            </div>

              <!-- NY UGE -->

            <h1 class="weeks-h1">Uge 47</h1>
            <div class="goals">
                <strong>Mål for ugen:</strong>
                <li>Få implementeret fuld crud i programmet.</li>  
                <li>Rette encodingservice til i API, således at æ, ø og å står korrekt.</li>  
                <br>
                <strong>Hvad har jeg opnået:</strong>
                <li>Fuld crud i programmet er opnået og datbasen er blevet fyld med dataeksempler.</li>
                 <li>Encodingservice er rettet til, så nu står æ, ø og å ikke encoded i databasen.</li>
                <br>    
            </div>

              <!-- NY UGE -->

            <h1 class="weeks-h1">Uge 48</h1>
            <div class="goals">
                <strong>Mål for ugen:</strong>
                <li>Optage produktvideo og færdiggøre portefølge</li>           
                <br>
                <strong>Hvad har jeg opnået:</strong>
                <li></li>
                <br>    
            </div>
        </div>
    </section>
</div>
