<div class="section-wrapper">
    <section class="section skills" id="skills">
        <div>
            <div class="section-heading" id="skills-text">Valgfag</div>

            <div class="skills-grid">
                <div class="what-i-do">
                    <h3 class="center-align skills-subsection">Oversigt</h3>
                    <p class="paragraph-text center-align">
                       På 4. Semester har jeg valgt at arbejde med 'Frontend' Webudvikling og IT-sikkerhed som valgfag. Jeg har en passion for at opsætte brugervenlige, responsive og sikre webapplikationer.
                    </p>
                </div>
                <div class="technical-skills">
                    <h3 class="center-align skills-subsection">Tekniske færdigheder - in progress..</h3>
                    <div class="progress-bars">
                        <div class="skillbar clearfix " data-percent="55%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>JavaScript</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div> <!-- End Skill Bar -->

                        <div class="skillbar clearfix " data-percent="35%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>ReactJS</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div> <!-- End Skill Bar -->

                       <div class="skillbar clearfix " data-percent="50%">
                            <div class="skillbar-title" style="background: #2980b9; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"><span>IT-Sikkerhed</span></div>
                            <div class="skillbar-bar" style="background: #3498db"></div>
                        </div>
                        </div> <!-- End Skill Bar -->

                        
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
