
<div class="section-wrapper">
    <section class="section skills" id="skills">
        <div>
            <div class="section-heading" id="skills-text">Skills</div>

            <div class="skills-grid">
                <div class="what-i-do">
                    <h3 class="center-align skills-subsection">Mine Valgfag</h3>
                    <p class="paragraph-text center-align">
                        Jeg har valgt Javascript og IT-Sikkerhed som valgfag.
                    </p>
                </div>
                <div class="technical-skills">
                    <h3 class="center-align skills-subsection">Proces</h3>
                    <div class="progress-bars">
                        <div class="skillbar clearfix " data-percent="30%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>Javascript</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div> <!-- End Skill Bar -->

                        <div class="skillbar clearfix " data-percent="20%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>ReactJS</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div> <!-- End Skill Bar -->

                        <div class="skillbar clearfix " data-percent="30%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>IT-Sikkerhed</span></div>
                            <div class="skillbar-bar" style="background: #3498db"></div>
                        </div> <!-- End Skill Bar -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
